<%- include('partials/header.ejs') %>
<div class="container">
    <br>
    <h2 class="display-3" style="font-weight: bold;">About ePosts</h2>
    <p class="lead">People often overlook the main reason why microblogging platforms exist - To just share thoughts. They're not supposed to be racist warzones filled with overly done features no one wants (Yes, I'm looking at you Twitter).</p>
    <img src="sig2.png" alt="Signature" class="img-fluid" style="width: 22%; height: 22%;">
</div>
<%- include('partials/footer.ejs') %>